.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background: var(--color-secondary);
}

.btn-danger {
  background: var(--color-accent);
}

.button {
  width: 200px;
  color: #fff;
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  animation: fadeIn 2s ease-in-out;
  margin: auto;
  z-index: 9999;
  text-align: center;
  text-decoration: none;
}
