header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  color: var(--color-white);
  font-size: 1.5rem;
}

.menu-toggle {
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  gap: 0.2rem;
  cursor: pointer;
  z-index: 1100;
  color: #fff;
}

.menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
  border-radius: 3px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  margin: 0.5rem 0;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-primary);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    display: none;
    animation: slideDown 0.3s ease forwards;
    z-index: 1000;
  }

  nav.active {
    display: flex;
  }

  /* Transform bars to X */
  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* Slide animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
